:root {
  --header: #fafafa;
  --sidebar: #0c94d4;
  --background: #e2e8f0;
  font-size: 20px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 0.5fr 5fr;
}

.header {
  background-color: var(--header);
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
  gap: 15%;
  z-index: 2;
}

.nav {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.sidebar {
  background-color: var(--sidebar);
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.logo .place-holder {
  width: 50px;
  height: 50px;
}

.place-holder {
  width: 30px;
  height: 30px;
}

.logo .text {
  color: var(--header);
  font-family: "roboto";
  font-size: 1.8rem;
  font-weight: bold;
  align-self: center;
}

.logo {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.options-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}

.op {
  margin-left: 20px;
  display: flex;
  gap: 30px;
}

.op .text {
  color: var(--header);
  font-family: "roboto";
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
}

.sidebar img {
  filter: invert(98%) sepia(94%) saturate(11%) hue-rotate(172deg) brightness(104%) contrast(96%);
}

.card-board {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  background-color: var(--background);
}

.search {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: 15px;
}

.search input {
  width: 100%;
  border-style: none;
  background-color: var(--background);
  border-radius: 30px;
}

.header-list {
  padding-top: 10px;
}

.header-list ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.header-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.header-name {
  font-family: "roboto";
  font-weight: bold;
}

.nav-profile {
  margin-left: 50px;
  display: flex;
  gap: 15px;
}

.nav-pic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-text {
  font-family: "roboto";
  font-weight: bold;
  align-self: center;
  font-size: 1.2rem;
}

.nav-text .hi {
  font-size: 0.8rem;
}

.nav-list {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-list button {
  height: 40px;
  width: 100px;
  border-radius: 30px;
  border-style: none;
  background-color: var(--sidebar);
  color: var(--header);
  font-family: "roboto";
  font-weight: bold;
  font-size: 0.8rem;
}